:ruby
  directors = @credits['crew'].select { |credit| credit['job'] == 'Director' }
  actors = @credits['cast']

%div.row
  %div.col-md-2.center.movie-badge
    %img{src:"https://image.tmdb.org/t/p/w500#{@movie.poster_path}"}
    - if !current_user.watchlist.find_by(movie_id: @movie.id)
      = button_to 'Add to watchlist', "/users/#{current_user.id}/watchlist/#{@movie.id}", method: :post, class: 'btn btn-primary'
    - else
      = button_to 'Remove from watchlist', "/users/#{current_user.id}/watchlist/#{@movie.id}", method: :delete, class: 'btn btn-primary'
  %div.col-md-7.center-column
    %h1
      = "#{@movie.title} (#{@movie.release_date.year})"
    %em
      %p
        Directed by:
        = directors.map { |director| director['name'] }.join(', ')
    %em
      %p
        Starring:
        = actors.map { |actor| actor['name'] }.join(', ')
    %p
      = @movie.overview
  %div.col-md-3.right-column
    = render 'layouts/watchlist_sidebar'
    = render 'layouts/friendship_sidebar'
