:ruby
  directors = @credits['crew'].select { |credit| credit['job'] == 'Director' }
  actors = @credits['cast']

%div.row
  %div.col-md-2.center
    %img{src:"https://image.tmdb.org/t/p/w500#{@movie.poster_path}"}
    - if !current_user.watchlist.find_by(movie_id: @movie.id)
      = form_for :user_movie, url: {action: "update", controller: "user_movies"}, :html => {method: "PATCH"} do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :movie_id, value: @movie.id
        = f.hidden_field :on_watchlist, value: true
        = f.submit "Save to watchlist", class: "btn btn-primary"
    - else
      = form_for :user_movie, url: {action: "update", controller: "user_movies"}, :html => {method: "PATCH"} do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :movie_id, value: @movie.id
        = f.hidden_field :on_watchlist, value: false
        = f.submit "Remove from watchlist", class: "btn btn-primary"
  %div.col-md-7.center-column
    %h1
      = "#{@movie.title} (#{@movie.release_date.year})"
    %em
      %p
        Directed by:
        - directors.each do |director|
          = director['name']
    %em
      %p
        Starring:
        - actors.each do |actor|
          = actor['name']
    %p
      = @movie.overview
  %div.col-md-3
    = render 'layouts/watchlist_sidebar'
