:ruby
  directors = @credits['crew'].select { |credit| credit['job'] == 'Director' }
  actors = @credits['cast']

%div.row
  %div.col-md-2.center
    %img{src:"https://image.tmdb.org/t/p/w500#{@movie.poster_path}"}
    %button.btn.btn-primary
      Add to watchlist
  %div.col-md-7.center-column
    %h1
      = "#{@movie.title} (#{@movie.release_date.year})"
    %em
      %p
        Directed by:
        - directors.each do |director|
          = director['name']
    %em
      %p
        Starring:
        - actors.each do |actor|
          = actor['name']
    %p
      = @movie.overview
  %div.col-md-3
    %h3
      News ticker
    %p
      News ticker coming soon
