%div.row
  %div.center.col-md-9.well
    %h1
      It's movie night.
    %p
      Join the classiest filmgoing community on the whole damn internet.
    #{ link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" }
  %div.col-md-3
    %h3
      Create an account:
    = form_tag user_registration_path, class:'landing-signup-form' do
      = text_field_tag 'user[email]', nil,  placeholder: 'Email address'
      = password_field_tag 'user[password]', nil,  placeholder: 'Password'
      = password_field_tag 'user[password_confirmation]', nil,  placeholder: 'Password confirmation'
      %br
      %button.btn.btn-primary Sign up
      %a
        = link_to "Facebook login", user_facebook_omniauth_authorize_path
%div.row.center
  %div.col-md-4
    %h3
      Discover
    %p
      Get personalized recommendations and find the next big thing, or a classic hidden gem.
  %div.col-md-4
    %h3
      Connect
    %p
      Have discussions, form groups, and watch movies with your friends and movie lovers worldwide.
  %div.col-md-4
    %i
    %h3
      Manage
    %p
      Keep a watchlist. Get notified when and where your movies are available. Buy tickets in advance.
