- if current_user
  %header.navbar{style:'height: 50px'}
    %div.container
      = link_to "PopcornPalpatine", root_path, class: "navbar-brand"
      %ul.nav.navbar-nav.navbar-form#header-search
        %li.form-group.has-feedback
          %input.form.typeahead{ type:"text", placeholder:"Search movies" }
          %span.glyphicon.form-control-feedback.typeahead-icon.glyphicon-search
          %span.glyphicon.form-control-feedback.typeahead-spinner.glyphicon-refresh{ style:"display: none" }
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{ href: '#tab2', data: { toggle: 'dropdown' } }
            %img.header-profile-pic{src:"#{ gravatar_url current_user }"}
          %ul.dropdown-menu
            %li
              = link_to "Edit profile", { controller: "devise/registrations", action: "edit" }
            %li
              = link_to "Log out", destroy_user_session_path,  method: :delete
- else
  %header.navbar{style:'height: 60px'}
    %div.container
      = link_to "PopcornPalpatine", root_path, class: "navbar-brand"
      = form_tag session_path(:user), class: 'navbar-form navbar-login' do
        %ul.nav.navbar-nav.navbar-right
          %li
            = text_field_tag 'user[email]', nil,  placeholder: 'Email address'
            %br
            %span.navbar-subtitle
              = check_box_tag 'user[remember_me]'
              = label_tag 'user[remember_me]', 'Remember me'
          %li
            = password_field_tag 'user[password]', nil, placeholder: 'Password'
            %br
            %span.navbar-subtitle
              = link_to "Forgot it?", new_password_path(:user)
          %li
            %button Log in
