%header.navbar
  %div.container
    #{ link_to "PopcornPal", root_path, class: "navbar-brand" }
    - if current_user
      %ul.nav.navbar-nav.navbar-form#header-search
        %li.form-group.has-feedback
          %input.form.typeahead{ type:"text", placeholder:"Search movies" }
          %span.glyphicon.form-control-feedback.typeahead-icon.glyphicon-search
          %span.glyphicon.form-control-feedback.typeahead-spinner.glyphicon-refresh{ style:"display: none" }
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{ href: '#tab2', data: { toggle: 'dropdown' } }
            %img.header-profile-pic{src:"#{ gravatar_url current_user }"}
          %ul.dropdown-menu
            %li
              #{ link_to "Edit profile", { controller: "devise/registrations", action: "edit" } }
            %li
              #{ link_to "Log out", destroy_user_session_path,  method: :delete }
    - else
      %ul.nav.navbar-nav.navbar-right
        %li
          #{ link_to "Log in", new_user_session_path }
        %li
          #{ link_to "Sign up", new_user_registration_path }
