!!! 5
%html
  %head
    %title
      PopcornPal
    #{ csrf_meta_tags }
  %body
    #{ render 'layouts/header' }
    %div.container
      - flash.each do |message_type, message|
        - content_tag(:div, message, class: "alert alert-#{message_type}")
      #{ yield }
      #{ render 'layouts/footer' }
